.component {
  @apply w-full bg-white bg-no-repeat flex;
  margin: 0 auto;
  max-width: 920px;
  background-image: url("https://res.cloudinary.com/medsy/image/upload/v1646937110/bg-pattern-desktop_jacqit.svg");
  background-position: -565px -295px;
  box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
  border-radius: 23px;
}
