.faq {
  @apply w-full pt-16 pb-20;
  &__title {
    @apply m-0 text-4xl pb-6 text-gray-900;
  }
  &__question {
    max-width: 350px;
    width: 100%;
    border-bottom: 1px solid hsl(240, 5%, 91%);
  }

  &__question-button {
    @apply w-full flex justify-between border-0 bg-transparent p-0 cursor-pointer py-4 text-gray-800;

    &::after {
      content: url("https://res.cloudinary.com/medsy/image/upload/v1646936554/icon-arrow-down_upyfnj.svg");
      margin-right: 17px;
      transform: rotate(90deg);
    }

    &:hover {
      color: hsl(14, 88%, 65%);
    }
  }

  &__desc {
    margin-left: -40px;
    padding-right: 17px;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
    overflow: hidden;
    transition: all 200ms ease-out;
  }
}
