.body {
  background-color: #f7f8f9;
  .leftSide {
    .react-tabs__tab-list {
      border-bottom: 0px solid #aaa;
      margin: 0 0 10px;
      padding: 0;
    }
    .react-tabs__tab {
      bottom: -1px;
      padding: 6px 12px;
      @apply border-primary-500 inline-block relative cursor-pointer border hover:border-primary-600 font-bold bg-primary-500 hover:bg-primary-600 text-white rounded;
      margin: 8px 4px;
    }
    .tab1 {
      @apply md:p-10  p-4 my-10 rounded-md shadow-lg bg-white;

      .giveReview {
        .div1 [type="text"],
        [type="email"] {
          padding: 0px 10px;
          @apply border w-full h-12 rounded border-primary-500;
        }
        textarea {
          padding: 5px 10px;
          @apply border-primary-500 h-24 mt-3 rounded w-full border focus:border-primary-800;
        }
        button {
          @apply px-10 py-4 text-2xl;
        }
      }
    }
  }
}
