@import "./core/all";
@import "./common/all";
@import "./components/all";
@import "./pages/all.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button:focus-visible {
  outline: 2px solid #b8925a;
  outline-offset: 2px;
}
