@import "./core/all";
@import "./common/all";
@import "./components/all";
@import "./pages/all.scss";



@import "./pages/faq/config";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.faq-page {
  margin: 0;
  padding: 0;
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  color: hsl(240, 6%, 50%);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

h1 {
  color: hsl(237, 12%, 33%);
  font-size: 32px;
  line-height: 32px;
}

button {
  color: hsl(237, 12%, 33%);
  font-size: 14px;
  line-height: 14px;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

button:focus-visible {
  outline: 2px dashed hsl(14, 88%, 65%);
  outline-offset: 0px;
}


.font-weight-bold {
  font-weight: 700;
}

